<div class="bombs-area"
     id="bombs-area"
     cdkDropList
     [cdkDropListSortingDisabled]="true"
     [cdkDropListData]="bombSettings"
     (cdkDropListDropped)="onBombDrop($event)"
     [cdkDropListConnectedTo]="['bin1', 'bin2', 'bin3', 'bin4', 'bin5']">

    <app-bomb  *ngFor="let bombSetting of bombSettings; let i = index"
               cdkDrag
               [bombSettings]="bombSetting"
               (cdkDragMoved)="dragMoved($event)"
               (cdkDragEnded)="dragEnded($event)"
               [index]="i"
               [cdkDragData]="bombSetting">

        <!-- <div *cdkDragPreview [id]="bombSetting.id" class="bomb" [class.hide]="hide">
          <i class="fa fa-bomb" [ngStyle]="{'color': bombSettings.color}" aria-hidden="true">
            <div class="time"></div>
          </i>
        </div> -->
    </app-bomb>
</div>
